*{padding:0;margin:0;font-family: sans-serif;}
ul{list-style: none;}
a{text-decoration: none;}
body{height: 4900px;}
:root{--main-color:#0C74C3;
--secound-color:#02B9D9;
--font-color:black;
}
input{display:none;}
.content{
      width:90%;
      margin:auto;
}
section:nth-child(odd){
  background:rgba(168,188,207,0.2);
}
#header{background: url(business-team.jpg) no-repeat ;
        background-size: calc(100%*1.2);
        min-height:600px;
        max-height: 700px;
        position: relative;
        }
#header:before{
        content:"";
        position: absolute;
        left:0;
        right:0;
        background:linear-gradient(0.25turn, rgba(255,241,255,1),rgba(255,255,255,0.9) ,rgba(255,250,255,0.0) );
        height:100%;
        width:50%;

}
#header header{
        display: flex;
        min-height: 60px;
        padding-top:  10px;
        align-items: center;
}
#header header .logo{
        flex-grow: 3;
}
#header header .logo strong{
        text-transform: uppercase;
        position: relative;
        font-size:2em;
}
#header header .logo strong::after{
        content: "";
        position: absolute;
        right:0;
        bottom: 5px;
        height:5px;
        width:5px;
        border-radius: 50%;
        background: var(--main-color);
}
#header header nav{
      flex-grow: 2;
      z-index: 0;
}
#header header nav ul{
    display:flex;
    justify-content: space-around;
    font-size: 1.2em;
    height:40px;
    align-items: center;
}
#header header nav ul li{
  height:30px;
  width: 90px;
}
#header header nav ul li:last-child{
      flex-grow: 2;
      width:100px;
      text-align: center;
}
#header header nav ul li:last-child a{
  background:var(--main-color);
  border-radius: 5px;
  height: 60px;
  color:white;
  padding:10px 10px;
}

#header header nav ul li a{
      color:var(--font-color);
      padding:8px 0;
}
#header header nav ul li #active{
  border-bottom: 1px solid var(--main-color);
}

#header #headermain article div{
  position: absolute;
  top:300px;
  left:150px;
  width: 40%;
}
#header #headermain article h1{
  font-size: 2em;
  color:var(--font-color);
  border-left:3px solid var(--main-color);
  padding:0px 10px;
  margin: 30px 0px;
}
#header #headermain article p{
      margin:10px 0px;
}
#header #headermain article button{
  border: 0px;
  border-radius: 10px;
  width:100px;
  height:40px;
  color:white;
  padding:10px;
  background:var(--main-color);
}
/*FIN headersection -----------------------*/
/*secound section----------------------*/
#secoundslider{
  min-height: 400px;
}
#secoundslider header{
    text-align: center;
    min-height: 90px;
    overflow: hidden;

}
#secoundslider header h6{
  color:var(--main-color);
  margin-top: 20px;
}
#secoundslider header h2{
  height:40px;
  position: relative;
}
#secoundslider header h2::after{
    content: "";
    position: absolute;
    width:70px;
    left:50%;
    bottom: 0%;
    transform: translate(-50%,0);
    border:1px solid var(--main-color);
}
#secoundslider .item{
    display: flex;
    justify-content: space-between;
}
#secoundslider .item .items{
    width:23%;
}
#secoundslider .item .items .icon{
  width:50px;
  height:50px;
  background:var(--main-color);
  margin: 15px 0px;
}
#secoundslider .item .items h3{
    margin:10px 0px;
}
#secoundslider .item .items p{
    margin: 10px 0px;
}
/*Fin secound slider*/
/*intr------*/
#intr{
  width:100%;
  height:600px;
  overflow: hidden;
  background-color: ;
  padding:10px 10px;
  box-sizing: border-box;
}
#intr .box{
  display: flex;
  height:400px;
  margin-top: 10%;
  margin-left: 10%;
  justify-content: space-between;
  width:80%;

  background:rgba(2,185,217,0.2);

}
#intr .box > div{
    width:900px;

}
#intr .box .img{

  position: relative;
  overflow: hidden;
  left:-5%;
  top:-10%;

}
#intr .box .img img{
  position:absolute;
  left:-300px;
  top:0;
}
#intr .box .artcle{
  padding-top:60px;
}
#intr .box .artcle *{
    margin-top: 10px;
}
#intr .box .artcle div{
    border-left:2px solid var(--secound-color);
    padding-left:15px;
}
#intr .box .artcle div h1{
      font-weight: 400;
}
#intr .box .artcle p{
    line-height: 25px;
    font-weight: 100;
}
/* FIN intr------*/
/**oofer awesome**/
#offers{
margin-top:30px;
}
#offers .header{
  margin-top:30px;
  text-align: center;

}
#offers .header h6{
  color:var(--secound-color);
  margin: 10px 0px;
  font-weight: 400;
}
#offers .header h1{
    margin:20px 0;
    font-size: 2rem;
}
#offers .header hr{
    width:10%;
    margin: auto;
    color:var(--secound-color);
}
#offers .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 10px 0;
}
#offers .items .item{
      width:30%;
      min-height:250px;
      margin: 15px 0;
      padding:0px 30px;
      box-shadow: 2px 2px 2px 0.1px #A4B6D2;
      box-sizing: border-box;
}
#offers .items .item .block{
    width:50px;
    height:50px;
    background:var(--main-color);
    margin:10px 0;
}
#offers .items .item h1{
    font-weight: 600;
    margin:10px 0;
   }
#offers .items .item a{
    color:var(--secound-color);
    display: block;
    margin-top: 13px;

}
#offers .items .item a:after{
    content: '\203A \203A \203A';
    margin-left: 7px;
}
#offers .items .item:nth-child(2){
  background:#3E7EB0;
  color: white;

}
#offers .items .item:nth-child(2) a{
    color:white;
}
/*Fin ofer service*/
/* numbers */
#numbers{
    min-height: 200px;
    padding:30px 0;
}
#numbers article .items{
    display:flex;
    justify-content: space-between;
}
#numbers article .items .item{
    width:18%;
    text-align: center;
}
#numbers article .items .item *{
  margin-top: 15px;
}
#numbers article .items .item .block{
  height:70px;
  width:70px;
  background:var(--main-color);
  margin: auto;
}

/* fin numbers*/
/* our Team*/
#memeber{
  min-height: 400px;
}
#memeber article .header{
  margin-top:30px;
  text-align: center;

}
#memeber article .header h6{
  color:var(--secound-color);
  margin: 10px 0px;
  font-weight: 400;
}
#memeber article .header h1{
    margin:20px 0;
    font-size: 2rem;
}
#memeber article .header hr{
    width:10%;
    margin: auto;
    color:var(--secound-color);
}
#memeber article .main {
  overflow: hidden;
  margin-top:30px;
  width:90%;
  margin: auto;
  text-align: center;
}

#memeber article .main .items{
    display: flex;
    width:calc(100%*2);
    position: relative;
    transition: all 1.5s;
}
#memeber article .main .items .item{
    width:400px;
    text-align: center;
    margin-bottom: 10px;
}
#memeber article .main .items .item .block{
  height:150px;
  width:150px;
  background: var(--main-color);
  margin: 10px auto;
}
#memeber article .main .items .item .block2 *{
    margin-top:10px;
}

#memeber article .main label{
    height:20px;
    width:20px;
    background:#A1B5BF;
    border-radius: 50%;
    display: inline-block;
}
#memeber article .main #for1:checked ~ .items{left:-100%;transition:all 2s;}
#memeber article .main #for1:checked ~ label[for="for1"]{background:var(--main-color);}
#memeber article .main #for2:checked ~ .items{left:0;transition: all 2s;}
#memeber article .main #for2:checked ~ label[for="for2"]{background:var(--main-color);}

#memeber article .main .items .item .block2 a{
      margin-left:7px;
      color:var(--secound-color);
}
/*Fin our tteams*/
/*EXPERT ADVICE*/
#expert{
  height:150px;
    overflow: hidden;
}
#expert article{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width:80%;
    margin:40px auto;
}
#expert article .text{
    width:70%;
}
#expert article .text h1{
    font-size: 1.3em;
    font-weight: 400;
    line-height: 30px;

}
#expert article .button a{
      background:var(--secound-color);
      display: inline-block;
      height:40px;
      width:140px;
      text-align: center;
      padding-top: calc(100%/10);
      box-sizing: border-box;
      border-radius: 10px;
      color:white;
}
/* FIN  EXPERT ADVICE*/
/*plan offer*/
#plan{
      margin-top:30px;

}
#plan article{
      display: flex;
}
#plan article .box ,#plan article .box2 {
      width:50%;
      box-sizing: border-box;
}
#plan article .box{
      padding:35px;
}
#plan article .box .header{
      margin:10px 0;
}
#plan article .box .header h6{
      color:var(--secound-color);
      margin: 10px 0px;
      font-weight: 400;
}
#plan article .box .header h1{
        margin:10px 0;
        font-size: 1.6rem;
        font-weight: 500;
}
#plan article .box .header hr{
        width:30%;
        color:var(--secound-color);
}
#plan article .box .buttonss{
        margin:15px 0;
        border:1px solid var(--secound-color);
        border-collapse: collapse;
        width:205px;
}
#plan article .box .buttonss a{
        display: inline-block;
        height:35px;
        width:100px;
        text-align: center;
        box-sizing: border-box;
        padding: 8px 0;
        border-radius: 3px;
}
#plan article .box .buttonss a:first-child{
        background:var(--secound-color);
        border-radius: 3px;
        color:white;
}
#plan article .box .buttonss a:last-child{
        color:var(--secound-color);
}
#plan article .box2 {
        display: flex;
          padding:35px;
}
#plan article .box2 div{
        width:50%;
        box-sizing: border-box;
        display: inline-block;
        margin:10px 20px;
        padding:10px;
        border: 0.6px solid var(--secound-color);
        border-top: none;
}
#plan article .box2 div aside{
        height:100px;
        position: relative;
}
#plan article .box2 div h3{
        font-size: 1rem;
        font-weight: 400;
        margin-top: 10px;
        text-transform: uppercase;
}
#plan article .box2 div h1{
        font-size: 2rem;
        font-weight: 2rem;
          margin-top: 5px;
}
#plan article .box2 div hr{

        width:80%;
        color:var(--secound-color);
        position: absolute;
        bottom: 6%;
}
#plan article .box2 div p{
        margin-top: 5px;
        font-weight: 200;

}
#plan article .box2 div a{
        color:var(--secound-color);
        margin-top: 20px;
        display: inline-block;
}
#plan article .box2 div a:after{
        content: '\203A \203A \203A';
        margin-left: 7px;
}
/*FIN plan offer*/
/*logo*/
#logos{
          height: 150px;
          margin-top: 15px;
          overflow: hidden;

}
#logos .items{
          display:flex;
          justify-content: space-around;
          margin-top:calc(150px/2);
          transform: translateY(-50%);
}
#logos .items .item{
          border: 1px solid black;
          text-align: center;
          padding:calc(60px/4);
          height:60px;
}
#logos .items .item h3{
        margin-top: 10px;
        font-size: 1rem;
        font-weight:600;
}

/*FIN logo*/
/*Customs*/
#costum{
        height:600px;
        margin-top: 30px;
}
#costum article .header{
        margin: 10px auto;
        text-align: center;
}
#costum article .header h6{
        color:var(--secound-color);
        margin: 10px 0px;
        font-weight: 400;
}
#costum article .header h1{
        margin:10px 0;
        font-size: 1.6rem;
        font-weight: 500;
}
#costum article .header hr{
        width:30%;
        color:var(--secound-color);
        margin: auto;
}
#costum article .box1{
        width:100%;
}
#costum article .box1 .image{
        height:100px;
        display: flex;
        width: 100%;
        position: relative;
}
#costum article .box1 .image span:nth-child(1){
        height:1px;
        width:40%;
        border-bottom: 1px solid black;
        display: inline-block;
        position: absolute;
        top:49px;
}
#costum article .box1 .image .cirle{
        height:100px;
        width:100px;
        border-radius: 50%;
        border: 1px solid black;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
}

#costum article .box1 .image span:nth-child(3){
        height:1px;
        width:40%;
        border-bottom: 1px solid black;
        display: inline-block;
        position: absolute;
        top:49px;
        right:0;
}
#costum article .box1 .Text{
        text-align: center;
        width:60%;
        margin:20px auto;
}
#costum article .box1 .Text p{
        font-weight: 400;
        line-height: 30px;
}
#costum article .box1 .box11{
height:100px;
width:906px;

display: flex;
position:relative;
margin: auto;
}
#costum article .box1 .box11 span:nth-child(1){
      height:1px;
      border-bottom: 1px solid black;
      width:418px;
      display: inline-block;
      position: absolute;
      top:49px;
      left:0px;
}
#costum article .box1 .box11 .traingle{
      width:50px;
      height:50px;
      border: 1px solid black;
      border-width: 0px 0px 1px 1px;

      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%) rotate(-45deg);
}
#costum article .box1 .box11 span:nth-child(3){
      height:1px;
      border-bottom: 1px solid black;
      width:418px;
      display: inline-block;
      position: absolute;
      top:49px;
      right:0px;
}
#costum article .box1 .footer {
      text-align: center;
}
#costum article .box1 .footer h4{
    font-weight: 400;
}
#costum article .box1 .footer strong{
  font-weight: 700;
}
/*FIN   Customs*/
