*{padding:0;margin:0;font-family: sans-serif;}
ul{list-style: none;}
a{text-decoration: none;}
body{overflow-x: hidden;}
:root{--main-color:#0C74C3;
--secound-color:#02B9D9;
--font-color:black;
}
  #header header nav input[id="menubtn"]{display: none;}
input[type="radio"]{display:none;}
.content{
      width:90%;
      margin:auto;
}
/*tag for all section*/
section:nth-child(odd){
  background:rgba(168,188,207,0.2);
}
.headers {
  margin:40px 0px;
  text-align: center;

}
.headers  h6{
  color:var(--secound-color);
  margin: 10px 0px;
  font-weight: 400;
}
.headers h1{
    margin:20px 0;
    font-size: 2rem;
}
.headers hr{
    width:10%;
    margin: auto;
    color:var(--secound-color);
}

/*FIn tag for all section*/
#header{background: url(business-team.jpg) no-repeat ;
        background-size: calc(100%*1.3);
        min-height:600px;
        max-height: 700px;
        position: relative;
        }
#header:before{
        content:"";
        position: absolute;
        left:0;
        right:0;
        background:linear-gradient(0.25turn, rgba(255,241,255,1),rgba(255,255,255,0.9) ,rgba(255,250,255,0.0) );
        height:100%;
        width:50%;

}
#header header{
        display: flex;
        min-height: 60px;
        padding-top:  10px;
        align-items: center;
}
#header header .logo{
        flex-grow: 3;
        z-index: 13;

}
#header header .logo strong{
        text-transform: uppercase;
        position: relative;
        font-size:2em;
}
#header header .logo strong::after{
        content: "";
        position: absolute;
        right:0;
        bottom: 5px;
        height:5px;
        width:5px;
        border-radius: 50%;
        background: var(--main-color);
}
#header header nav{
      flex-grow: 2;
      z-index: 0;
}
#header header nav span{
  float:right;
  position: absolute;
  top:10px;
  right:10px;
  font-size: 2rem;
    display: none;
}


#header header nav ul{
    display:flex;
    justify-content: space-around;
    font-size: 1.2em;
    height:40px;
    align-items: center;
}
#header header nav ul li{
  margin: 0.5em ;
  text-align: center;
  white-space: nowrap;
}
#header header nav ul li:last-child{
      flex-grow: 2;

      text-align: center;
}
#header header nav ul li:last-child a{
  background:var(--main-color);
  border-radius: 5px;
  padding:0.5em 1em;
  color:white;
}
#header header nav ul li:last-child a:hover{
    background: white;
    color:var(--main-color);
    border-bottom:  1px solid var(--main-color);


}
#header header nav ul li a{
      color:var(--font-color);
      padding:0.5em 1em;
}
#header header nav ul li #active{
  border-bottom: 1px solid var(--main-color);
  height:50%;
  margin:auto;
}
#header header nav ul li a:hover:not(#button){
      border-bottom: 1px solid var(--main-color);
}

#header #headermain article div{
  position: absolute;
  top:30%;
  left:150px;
  width: 40%;
}
#header #headermain article h1{
  font-size: 2em;
  color:var(--font-color);
  border-left:3px solid var(--main-color);
  padding:0px 10px;
  margin: 30px 0px;
}
#header #headermain article p{
      margin:10px 0px;
}
#header #headermain article button{
  border: 0px;
  border-radius: 10px;
  color:white;
  padding:0.7em 1em;
  background:var(--main-color);
}
#header #headermain article button:hover{
  background: white;
  color:var(--main-color);
  border: 1px solid var(--main-color);
}
/*FIN headersection -----------------------*/
/*secound section----------------------*/
#secoundslider{
  min-height: 400px;
}
#secoundslider .item{
    display: flex;
    justify-content: space-between;
}
#secoundslider .item .items{
    width:23%;
}
#secoundslider .item .items .icon{
  width:50px;
  height:50px;
  margin: 15px 0px;
}
#secoundslider .item .items .icon i{
    font-size:3em;
    color:var(--secound-color);
}
#secoundslider .item .items h3{
    margin:10px 0px;
}
#secoundslider .item .items p{
    margin: 10px 0px;
}
/*Fin secound slider*/
/*intr------*/
#intr{
  width:100%;
  min-height:600px;
  overflow: hidden;
  background-color: ;
  padding:10px 10px;
  box-sizing: border-box;
}
#intr .box{
  display: flex;
  height:400px;
  margin-top: 10%;
  margin-left: 10%;
  justify-content: space-between;
  width:80%;

  background:rgba(2,185,217,0.2);

}
#intr .box > div{
    width:900px;

}
#intr .box .img{

  position: relative;
  overflow: hidden;
  left:-5%;
  top:-10%;

}
#intr .box .img img{
  position:absolute;
  left:-300px;
  top:0;
}
#intr .box .artcle{
  padding-top:60px;
}
#intr .box .artcle *{
    margin-top: 15px;
}
#intr .box .artcle div{
    border-left:2px solid var(--secound-color);
    padding-left:15px;
}
#intr .box .artcle div h1{
      font-weight: 400;
}
#intr .box .artcle p{
    line-height: 25px;
    font-weight: 100;
}
#intr .box .artcle a{
    margin-top:10px;
    border:1px solid var(--main-color);
    padding:0.5em 1.5em;
    background:white;
    color:var(--secound-color);
    display: inline-block;
}
/* FIN intr------*/
/**oofer awesome**/
#offers{
margin-top:30px;
}

#offers .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 10px 0;
}
#offers .items .item{
      width:30%;
      min-height:250px;
      margin: 15px 0;
      padding:0px 30px;
      box-shadow: 2px 2px 2px 0.1px #A4B6D2;
      box-sizing: border-box;
}
#offers .items .item .block{
    width:50px;
    height:50px;
    margin:10px 0;
}
#offers .items .item:not(:nth-child(2)) .block i{
      font-size:3.5em;
      color:var(--secound-color);
    }


#offers .items .item h1{
    font-weight: 600;
    margin:10px 0;
   }
#offers .items .item a{
    color:var(--secound-color);
    display: block;
    margin-top: 13px;

}
#offers .items .item a:after{
    content: '\203A \203A \203A';
    margin-left: 7px;
}
#offers .items .item:nth-child(2){
  background:#3E7EB0;
  color: white;

}
#offers .items .item:nth-child(2) a{
    color:white;

}
#offers .items .item:nth-child(2) .block i {
    font-size:3.5em;
}
/*Fin ofer service*/
/* numbers */
#numbers{
    min-height: 200px;
    padding:30px 0;
}
#numbers article .items{
    display:flex;
    justify-content: space-between;
}
#numbers article .items .item{
    width:18%;
    text-align: center;
}
#numbers article .items .item *{
  margin-top: 15px;
}
#numbers article .items .item .block{
  height:70px;
  width:70px;
  margin: auto;
}
#numbers article .items .item .block i{
    font-size: 3.5em;
    color:var(--secound-color);
}


/* fin numbers*/
/* our Team*/
#memeber{
  min-height: 400px;
}
#memeber article .main {
  overflow: hidden;
  margin-top:30px;
  width:100%;
  margin: auto;
  text-align: center;
}

#memeber article .main .items{
    display: flex;
    width:200%;
    position: relative;
    transition: all 1.5s;
    justify-content: space-between;
}
#memeber article .main .items .item{
    width:400px;
    text-align: center;
    margin-bottom: 10px;
}
#memeber article .main .items .item .block{
  height:150px;
  width:150px;
  background: var(--main-color);
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
}
#memeber img{
    width:auto;
    height: 100%;
    margin-left:-60px;

}

#memeber article .main .items .item .block2 *{
    margin-top:10px;
}

#memeber article .main label{
    height:20px;
    width:20px;
    background:#A1B5BF;
    border-radius: 50%;
    display: inline-block;
}
#memeber article .main label:last-child{display: none;}
#memeber article .main #for1:checked ~ .items{left:0%;transition:all 2s;}
#memeber article .main #for1:checked ~ label[for="for1"]{background:var(--secound-color);}
#memeber article .main #for2:checked ~ .items{left:-100%;transition: all 2s;}
#memeber article .main #for2:checked ~ label[for="for2"]{background:var(--secound-color);}

#memeber article .main .items .item .block2 a{
      margin-left:7px;
      color:var(--secound-color);
}
/*Fin our tteams*/
/*EXPERT ADVICE*/
#expert{
  height:150px;
    overflow: hidden;
}
#expert article{
    display: flex;
    justify-content: center;
    width:100%;
    padding:3em 0em;
}
#expert article .text{
    width:70%;
}
#expert article .text h1{
    font-size: 1.3em;
    font-weight: 400;
    line-height: 30px;

}
#expert article .button a{
      background:var(--secound-color);
      display: inline-block;
      box-sizing: border-box;
      border-radius: 10px;
      color:white;
      padding:1em 1em;
}
/* FIN  EXPERT ADVICE*/
/*plan offer*/
#plan{
      margin-top:30px;

}
#plan article{
      display: flex;
}
#plan article .box ,#plan article .box2 {
      width:50%;
      box-sizing: border-box;
}
#plan article .box{
      padding:35px;
}
#plan article .box .header{
      margin:10px 0;
}
#plan article .box .header h6{
      color:var(--secound-color);
      margin: 10px 0px;
      font-weight: 400;
}
#plan article .box .header h1{
        margin:10px 0;
        font-size: 1.6rem;
        font-weight: 500;
}
#plan article .box .header hr{
        width:30%;
        color:var(--secound-color);
}
#plan article .box .buttonss{
        margin:15px 0;
        border:1px solid var(--secound-color);
        border-collapse: collapse;
        width:205px;
}
#plan article .box .buttonss a{
        display: inline-block;
        text-align: center;
        border-radius: 3px;
        padding:1em 1em;
}
#plan article .box .buttonss a:first-child{
        background:var(--secound-color);
        border-radius: 3px;
        color:white;
}
#plan article .box .buttonss a:last-child{
        color:var(--secound-color);
}
#plan article .box2 {
        display: flex;
          padding:35px;

}
#plan article .box2 div{
        width:50%;
        box-sizing: border-box;
        display: inline-block;
        margin:10px 20px;
        padding:10px;
        border: 0.6px solid var(--secound-color);

}
#plan article .box2 div aside{
        height:100px;
        position: relative;
}
#plan article .box2 div h3{
        font-size: 1rem;
        font-weight: 400;
        margin-top: 10px;
        text-transform: uppercase;
}
#plan article .box2 div h1{
        font-size: 2rem;
        font-weight: 2rem;
          margin-top: 5px;
}
#plan article .box2 div hr{

        width:80%;
        color:var(--secound-color);
        position: absolute;
        bottom: 6%;
}
#plan article .box2 div p{
        margin-top: 5px;
        font-weight: 200;

}
#plan article .box2 div a{
        color:var(--secound-color);
        margin-top: 20px;
        display: inline-block;
}
#plan article .box2 div a:after{
        content: '\203A \203A \203A';
        margin-left: 7px;
}
/*FIN plan offer*/
/*logo*/
#logos{
          height: 150px;
          margin-top: 15px;
          overflow: hidden;

}
#logos .items{
          display:flex;
          justify-content: space-around;
          margin-top:calc(150px/2);
          transform: translateY(-50%);
}
#logos .items .item{
          border: 1px solid black;
          text-align: center;
          padding:calc(60px/4);
          height:60px;
}
#logos .items .item h3{
        margin-top: 10px;
        font-size: 1rem;
        font-weight:600;
}

/*FIN logo*/
/*Customs*/
#costum{
        height:500px;
        margin-top: 30px;
}

#costum article .box1{
        width:100%;
}
#costum article .box1 .image{
        height:100px;
        display: flex;
        width: 100%;
        position: relative;
}
#costum article .box1 .image span:nth-child(1){
        height:1px;
        width:40%;
        border-bottom: 1px solid black;
        display: inline-block;
        position: absolute;
        top:49px;
}
#costum article .box1 .image .cirle{
        height:100px;
        width:100px;
        border-radius: 50%;
        border: 1px solid black;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
}
#costum article .box1 .image .cirle img{
        /*transform: translate(-40%,-20%);*/
        height:auto;
        width:200px;
        transform: translateX(-40px);
}
#costum article .box1 .image span:nth-child(3){
        height:1px;
        width:40%;
        border-bottom: 1px solid black;
        display: inline-block;
        position: absolute;
        top:49px;
        right:0;
}
#costum article .box1 .Text{
        text-align: center;
        width:60%;
        margin:20px auto;
}
#costum article .box1 .Text p{
        font-weight: 400;
        line-height: 30px;
}
#costum article .box1 .box11{
height:100px;
width:906px;

display: flex;
position:relative;
margin: auto;
}
#costum article .box1 .box11 span:nth-child(1){
      height:1px;
      border-bottom: 1px solid black;
      width:418px;
      display: inline-block;
      position: absolute;
      top:49px;
      left:0px;
}
#costum article .box1 .box11 .traingle{
      width:50px;
      height:50px;
      border: 1px solid black;
      border-width: 0px 0px 1px 1px;

      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%) rotate(-45deg);
}
#costum article .box1 .box11 span:nth-child(3){
      height:1px;
      border-bottom: 1px solid black;
      width:418px;
      display: inline-block;
      position: absolute;
      top:49px;
      right:0px;
}
#costum article .box1 .footer {
      text-align: center;
}
#costum article .box1 .footer h4{
    font-weight: 400;
}
#costum article .box1 .footer strong{
  font-weight: 700;
}
/*FIN   Customs*/
/*Message*/
#message{
    height:100px;
    overflow: auto;
      }
#message article{
      display: flex;
      justify-content:space-around;

      margin:25px auto;
      align-items: center;
      width:80%;
      }
#message .message1{
display: flex;
justify-content: flex-start;
width:50%;


      }
#message .message1 .icon{
      text-align: center;
      margin-right: 10px;
      }
#message .message1 .icon i{
      font-size: 3rem;
      color:var(--main-color);
        }
#message .message1 .text{
    padding: 5px;
}
#message .message1 .text h6{
    font-weight: 400;
}
#message .inputm{
    background:var(--main-color);
    height:30px;
    width:320px;

}
#message .inputm button{

    background: var(--main-color);
    color:white;
    border:none;
    margin: 0;
    padding: 0.2em 1.1em;
}
#message .inputm input{
    outline: 1px solid var(--main-color);
    border: none;
    height:28px;
    width:200px;
    margin: 0px;
    padding: 0;
}
/*FIN Message*/
/*promo video*/
#promovideo{
  height:350px;
  overflow: hidden;

}
#promovideo article{
    display:flex;
    margin:30px auto;
    justify-content: space-around;
}
#promovideo article * {


}
#promovideo article .video{
  width: 1100px;

}
#promovideo article .video iframe{
    width:100%;
    border-radius: 10px;
}
#promovideo article .text{
    box-sizing: border-box;
    margin-left: 0px;
    padding:30px;
}
#promovideo article .text *{
  margin-top: 10px;
}
#promovideo article .text h1{
  font-size: 1.5rem;

}
#promovideo article .text p{
        line-height: 20px;
        font-weight: 100;
}
#promovideo article .text a{
        background:var(--main-color);
        color:white;
        display: inline-block;
        width:200px;
        padding:0.5em 1.5em;
        border-radius: 10px;
        font-size:1.3rem;
        text-align: center;
        margin-top: 20px;
        font-weight: 100;
        text-transform: uppercase;
}

/*FIN promo video*/
/*work */
#work{
        min-height:550px;
        overflow: hidden;
        margin-top: 19px;
}
#work article{
        margin-top:25px;
}

#work article .explain .box{
    width:100%;
    height:190px;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;

}
#work article .explain .box div .icon{
  border-radius: 50%;
  border:1px dashed var(--secound-color);
  margin-bottom: 10px;
  z-index: 2;
}
#work article .explain .box i{
    font-size: 5rem;
    color:white;
    background: #02E2D9;
    border-radius: 50%;
    height:150px;
    width:150px;
    text-align: center;
    padding-top:40px;
    box-sizing: border-box;
    margin-top:10px;
    z-index: 5;

}
#work article .explain .box span{
  width:100%;
  position:absolute;
  top:50%;
  border-bottom: 1px dashed var(--main-color);
  height:1px;

}
#work article .explain .box  div{

    box-sizing: border-box;
    min-height:170px;
    width: 170px;
    text-align: center;

}



/*FIN   work */
/*request panel*/
#request{
      overflow: hidden;
      margin-top:20px;

}
#request article{
      display:flex;
}
#request article div{
      width:50%;

}
#request article .locale{


}
#request article .locale div{
      width:80%;
      height:70%;
      overflow: hidden;
      margin-top:40px;
      margin-left: 40px;
}
#request article .locale div img{
        width:100%;
        height:110%;
}
.request .header *{
    margin-top:10px;
}
.request .header h6{
        color:var(--secound-color);
}
.request .header h1{
      font-size:1.5rem;
}
.request .header hr{
    width:20%;
    color:var(--main-color);
}
#request .request .form{
  margin-top: 10px;

}

#request .request .form form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#request .request .form form input {
    height:40px;
    width: 100%;
    margin:10px 0px;
    padding:10px;
    box-sizing: border-box;
    border: 1px solid var(--secound-color);

}
#request .request .form form input[placeholder="Name"],
#request .request .form form input[placeholder="Email"]{
  width:49%;
}

#request .request .form form input[placeholder="Subject"]{
  flex: 2 0 85%;

}

#request .request .form textarea{
  height:80px;
  padding:10px;
  border: 1px solid var(--secound-color);
  width:100%;
}
#request .request .form button{
    height:50px;
    width:160px;
    background:var(--main-color);
    border:none;
    color:white;
    font-size:1.2rem;
    text-transform: uppercase;
    margin-top:15px;
}
/*FIN request panel*/
/*news*/
#news{
  min-height:500px;
  overflow: hidden;
}

#news article  .box {
  width:100%;
  margin: auto;
  text-align: center;
  overflow: hidden
}
#news article  .box .items{
  position: relative;
    display: flex;
    width:200%;
    justify-content: space-around;
    text-align: left;
    }
#news article .box .items .item{
    width:200px;
    box-sizing: border-box;
}
#news article .box .items .item .block{
    height:150px;
    width: 200px;
    background:var(--main-color);
    overflow: hidden;
}
#news article .box .items .item .block img{

    width:310px;
}
#news article .box .items .item .text .headerr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10px;

}
#news article .box .items .item .text .headerr div:nth-child(1){
    height:30px;
    width:30px;
    display: inline-block;
    background:var(--secound-color);
    text-align: center;
}
#news article .box .items .item .text .headerr div:nth-child(1) h3{
    font-size:0.7em;
    color:white;

}
#news article .box .items .item .text .headerr div:nth-child(2){
    width:140px;
}
#news article .box .items .item .text .headerr div:nth-child(2) h2{
    font-size:0.8rem;
}
#news article .box .items .item .text a{
    margin-top:10px;
    display: inline-block;
    color:var(--secound-color);
}
#news article .box .items .item .text a:after{
    content:"\203A \203A ";
    margin-left:8px;
}
#news article .box label{display: inline-block; height:20px;width:20px;background:#A1B5BF;
                            border-radius: 50%;margin-top:15px;}
#news article .box input[id="ftne"]:checked ~ .items{left:-100%;transition: left 1s;}
#news article .box input[id="fone"]:checked ~  label[for="fone"]{background:var(--secound-color);}
#news article .box input[id="fone"]:checked ~ .items{left:0%;transition: left 1s;}
#news article .box input[id="ftne"]:checked ~  label[for="ftne"]{background:var(--secound-color);}
/*FIN news*/
/*footer*/
footer{
  background:#001144;
  color:white;
  overflow: hidden;
}
footer .items{
    display: flex;
    justify-content:space-around;
    margin-top:20px;
}
footer .items .item{
    width:300px;
    padding:20px;

}
footer .items .item h2{
  margin:15px 0;
}
footer .items .item:nth-child(1) p {
    line-height: 20px;
    margin: 10px 0;
    font-weight: 600
}
footer .items .item:nth-child(1) a{
  color:var(--secound-color);
  text-transform: uppercase;
}
footer .items .item:nth-child(2) a{
  display: inline-block;
  color:white;
  font-weight: 600;
    padding:0.5em 0.1em;
}
footer .items .item:nth-child(2) a:nth-child(odd){
    margin-left: 10px;
}
footer .items .item:nth-child(2) a:before{
  content:"\203A \203A           ";

}
footer .items .item:nth-child(3) .box {
      box-sizing: content-box;
      margin-top:15px;
      width:250px;
}
footer .items .item:nth-child(3) .box .block{
    height:50px;
    width:50px;
    background:white;
    float:left;
    margin: 0 10px 0 5px;
}
footer .items .item:nth-child(3) .box h4{
    font-weight: 600;
    font-size: 0.9rem;
}
footer .items .item:nth-child(3) .box p{
    font-size:0.7rem;
}
footer .footer div{
  margin-bottom: 10px;
}
footer .footer div:nth-child(1){
  float: left;
}
footer .footer div:nth-child(2){
    float:right;
}
footer .footer div:nth-child(2) a {
  color:white;
  margin-left: 10px;
}
footer .footer div:nth-child(1) a {
    color:var(--main-color);
    margin-left:10px;
}
/*FIN footer*/
@media (max-width:700px){
  html{font-size:13px;}
  #header{
          background-size: calc(100%*1.6);
            background-position: center; }
  #header header nav span {display: block;z-index: 13;}
  #header header{ position: fixed;width:100%;right:0;height: 50px;background:white;z-index: 10}
  #header header nav{
    z-index: 2;
    height: 50px;
    background:white;
    width:100%;
  }
  #header header nav ul{
    flex-direction: column;
    width:100%;
    background: white;
    height:100vh;
    position: absolute;
    right:-100%;
    top:0;
      transition: right 2s;
      position: fixed;
  }
  #header header nav ul li{
    margin:calc(100vh/20) auto;
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 2px;

  }

    #header header nav input[id="menubtn"]:checked ~ ul{right:0;}
    /*------------------*/
    #plan article .box .buttonss{
      width:160px;
      box-sizing: border-box;
    }
    /***************/
    #costum article .box1 .box11{width:100%;}
    #costum article .box1 .box11 span:nth-child(1){
      width:0px ;
    }
    #costum article .box1 .box11 span:nth-child(3){
      width:0px;
    }
    /*****************/
    #message article .inputm input{
        width:150px;
    }
    #message article .inputm button{

    }
}
@media (max-width:480px){
#header{
  background-size:cover;
}
#header #headermain article div{
  position: absolute;
  top:20%;
  left:20px;
  width: 40%;
}
/***********/
#intr .box{
  display: flex;
  flex-direction: column;
  height:700px;
}
#intr .box .artcle{
padding-top:0;
}
#intr .box > div{
    width:90%;
    height:300px;
    margin: auto;
}
#intr .box .img{
    left:0;
    top:0;
      background:red;
}
#intr .box .img img{
  background:red;
}
/***************/
#offers .items{
  flex-direction: column;
}
#offers .items .item{
  width:100%;
}
/************/
#memeber article .main .items{
width:300%;
}
#memeber article .main label:last-child{display: inline-block;}
#memeber article .main #for3:checked ~ .items{left:-200%;transition: all 2s;}
#memeber article .main #for3:checked ~ label[for="for3"]{background:var(--secound-color);}
/*************/
#expert{height:200px}
#plan article{
    flex-direction: column;
}
#plan article .box ,#plan article .box2 {
      width:100%;
}
#plan article .box2{
    padding:5px;
}
#plan article .box2 div{
        width:50%;
        margin:5px 20px;
}


}


@media (min-width:700px){
  html{font-size:12px;}
  .content{width:98%;}

}

@media (min-width:940px){
  html{font-size:14px;}
}

@media (min-width:1200px) {
    html{font-size:16px;}
    .content{width:90%;}

}
